<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="true">

	<description>Email Configuration</description>

	<bean id="mimeMailService" class="com.itdoes.business.demos.utilities.email.MimeMailService">
		<property name="mailSender" ref="mailSender" />
		<property name="freemarkerConfiguration" ref="freemarkerConfiguration" />
	</bean>

	<bean id="freemarkerConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
		<property name="templateLoaderPath" value="classpath:/email" />
	</bean>

	<beans profile="production">
		<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
			<property name="host" value="smtp.gmail.com" />
			<property name="username" value="jalen.demo@gmail.com" />
			<property name="password" value="demoforyou" />
			<property name="defaultEncoding" value="UTF-8" />
			<property name="javaMailProperties">
				<props>
					<prop key="mail.smtp.auth">true</prop>
					<!-- 使用gmail smtp server的必须参数 -->
					<prop key="mail.smtp.starttls.enable">true</prop>
				</props>
			</property>
		</bean>
	</beans>

	<beans profile="development,functionaltest,unittest">
		<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
			<property name="host" value="localhost" />
			<property name="port" value="${mailserver.port}" />
			<property name="username" value="greenmail@localhost.com" />
			<property name="password" value="greenmail" />
			<property name="defaultEncoding" value="UTF-8" />
			<property name="javaMailProperties">
				<props>
					<prop key="mail.smtp.auth">true</prop>
				</props>
			</property>
		</bean>

		<bean id="greenmail" class="com.itdoes.common.test.mail.MailServerSimulator" lazy-init="false">
			<property name="port" value="${mailserver.port}" />
		</bean>
	</beans>
</beans>
